* {
    margin:0;
    padding:0;
}
body {
    background-image: url('./img/bgr.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
    background-position: center;
  }

.page {
    display:none;
    width:80%;
    margin:20px;
    background-color: rgba(0,0,0, 0.1);
    color:white;
}

h1, h3, p {
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    filter:drop-shadow(2px 2px 0px black);
}

h1 {
    text-transform: uppercase;
}
h3{
    font-size:14px;
}

div, p {
    font-size:13px;
}

#navbuttons{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;justify-content:space-between;min-width:200px;
}
#navbuttons li:hover {
    color:gold;
    text-decoration: underline;
}

input, textarea {
    width:100%;
    background-color: rgba(0,0,0,0.1);
    color:white;
}

#formSubmit { 
    width:100%;
}

#team { list-style: none;margin: 0;
    padding: 0;}
ul#team > li {
    max-width: 250px;
    margin:0 10px;
    min-height:300px;
}

.avatar {
    font-size:30px;
    padding:2px;
    float:left;
}

ul#team > li > div {
    background-color:navy;
    border-radius: 5px;
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
}


a {
    color:white;
    text-decoration: none;
}






#navigation_bar {
    background-color: rgba(0,0,0,0.9);

}

button {
    padding:5px;
    border-radius: 5px;
    background-color: #00aa22;
    color:white
}